.article {
  &__title--main-theme {
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 19px;
  }
  &__text--main-theme {
    font-size: 17px;
    padding-left: 5px;
    font-weight: 300;
    line-height: 1.6;
    max-width: 400px;
    margin-bottom: 27px;
  }
}
.article--main-theme {
  margin: 0 auto;
  max-width: 1180px;
  color: $main-text;
}
