.form-sub {
  display: flex;
  justify-content: center;
  max-width: 773px;
  min-height: 55px;
  flex-wrap: wrap;
  @media screen and (min-width: $screen-tablet) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__input-mail {
    width: 100%;
    height: 100%;
    max-width: 430px;
    min-height: 55px;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 0;
      max-width: 572px;
    }

    &::placeholder {
      opacity: 0.5;
      font-size: 15px;
      font-weight: 300;
    }
  }
  &__button {
    height: 55px;
    max-width: 400px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: $subscribe-btn-color;
    color: $white;
    @media screen and (min-width: $screen-tablet) {
      width: 170px;
    }
  }
}
