$nav-border: #ff6033;
$link: #ff6033;
$nav-text: #262626;
$logo: #262626;
$main-text: #262626;
$link-text: #ffffff;
$section-2-text: #ffffff;
$text: #ffffff;
$blog-color: #b07cf7;
$link-back-blog: #f72b3b;
$text-color: #ffffff;
$shadow-border: #fbfbf7;
