body {
  background-color: rgb(153, 9, 9);
}
header {
  position: relative;
  max-width: 895px;
  left: 210px;
  top: 20px;
}
header > img {
  position: relative;
  left: 240px;
}
ul {
  padding: 0;
  margin: 0;
}

nav {
  background-color: black;
  padding: 0px 0px 0px 0px;
}
nav li {
  position: relative;
  left: 0px;
  list-style-type: none;
  display: inline;
}
nav img {
  width: 150px;
  padding: 20px 35px 0px 35px;
  margin: 0;
}
nav img > :last-child {
  padding-right: 0;
}

figcaption > a {
  padding: 0px 90px 0px 90px;
}
figcaption > a:last-child {
  padding-right: 0;
}
figure {
  margin: 0px;
  padding: 0;
}
