* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease 0.2s;
  font-family: "Raleway", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
ul {
  list-style: none;
}
.back-img {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scroll-wrapper {
  position: sticky;
  display: inline-block;
  margin: 0 auto;
  z-index: 3;
  width: 24px;
  height: 40px;

  .link-home {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
.scroll {
  display: inline-block;
  width: 24px;
  height: 40px;
}
