:root {
  --darkGray: #7a7593;
  --lightGray: #89849f;
  --brown: #eb7e7f;
  --black: #3b3f45;
  --ligtBlack: #4a4f56;
  --textCheckbox: #c9c8d9;
  --Select: #625e77;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
html,
body {
  min-height: 100vh;
  min-width: 100vh;
}
.label:nth-child(odd) .list__item {
  background-color: var(--lightGray);
}
.label:nth-child(even) .list__item {
  background-color: var(--ligtBlack);
}
.wrapper {
  min-width: 100vh;
  min-height: 100vh;
  margin: 18px;
  background-color: var(--black);
  text-align: center;
}
.header {
  height: 95px;
  background-color: var(--ligtBlack);
  color: var(--brown);
  margin-bottom: 40px;
}
.header__title {
  padding-top: 15px;
  padding-bottom: 1px;
}
.title__bot {
  font-size: 20px;
}
.list {
  font-size: 20px;
  margin: 0 auto;
  width: 800px;
  text-align: left;
  margin-bottom: 40px;
}

.list__item {
  padding: 20px 0px 20px 15px;
  color: white;
  font-size: 20px;
  vertical-align: text-bottom;
}

.list__item:hover {
  background-color: var(--Select) !important;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.list__item:active {
  background-color: red !important;
}
input:checked + .text {
  text-decoration-line: line-through;
  color: var(--textCheckbox);
}
.text__checkbox {
  font-size: 15px;
  color: var(--textCheckbox);
}

.text__checkbox::before {
  content: " ( ";
}
.text__checkbox::after {
  content: " ) ";
}
.checkbox {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.button {
  text-decoration: none;
  font-size: 25px;
  display: block;
  color: var(--brown);
  background-color: var(--ligtBlack);
  margin: 0 auto;
  width: 800px;
  padding: 20px 0px 20px 15px;
}
