@import "./core/vars";
@import "./core/common";
@import "./components/section";
@import "./components/main";
@import "./components/header-nav";
@import "./components/link-button";
@import "./components/navigation";
@import "./components/logo";
@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900&display=swap");

.section-about {
  display: flex;
  flex-direction: row;
  padding-top: 37px;
  padding-left: 115px;
  min-height: 700px;
  min-width: 1500px;

  &__title-about {
    font-size: 90px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 17px;
    color: $text;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__img-wrapper {
    margin-right: 94px;
  }
}
