$nav-border: #ff6033;
$link: #ff6033;
$nav-text: #262626;
$logo: #262626;
$main-text: #262626;
$link-text: #ffffff;
$section-2-text: #ffffff;
$text: #ffffff;
$about-section: #00b2b2;
$section-services: #70bfff;
