<h1 class="section__title section-blog__title">Blog</h1>
<p class="section__text section-blog__subtitle">
  Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
  in reprehenderit in voluptate velit.
</p>
<ul class="section__list list-card">
  <li class="list-card__item card-blog">
    <div class="card__img-wrapper">
      <img src="./images/kivi.png" alt="kivi" class="card__img img" />
    </div>
    <div class="card-blog__date-box">
      <span class="card-blog__date-day">20</span>
      <span class="card-blog__date-month">NOV</span>
    </div>
    <span class="card-blog__gradient"></span>
    <div class="card-blog__content">
      <h3 class="card-blog__title">
        Green Smoothies: Too Much of a Good Thing?
      </h3>
      <p class="card-blog__info">
        By Auskteez - 2 hours ago
      </p>
    </div>
  </li>
  <li class="list-card__item card-blog">
    <div class="card-blog__img-wrapper">
      <img src="./images/peas.png" alt="peas" class="card-blog__img img" />
    </div>
    <div class="card-blog__date-box">
      <h3 class="card-blog__date-day">14</h3>
      <h3 class="card-blog__date-month">NOV</h3>
    </div>
    <span class="card-blog__gradient"></span>
    <div class="card-blog__content">
      <h3 class="card-blog__title">
        Growing Food and a “Thirst” for Innovation
      </h3>
      <p class="card-blog__info">
        By Auskteez - 3 hours ago
      </p>
    </div>
  </li>
  <li class="list-card__item card-blog">
    <div class="card-blog__img-wrapper">
      <img
        src="./images/raspberries.png"
        alt="raspberries"
        class="card-blog__img img"
      />
    </div>
    <div class="card-blog__date-box">
      <h3 class="card-blog__date-day">10</h3>
      <h3 class="card-blog__date-month">NOV</h3>
    </div>
    <span class="card-blog__gradient"></span>
    <div class="card-blog__content">
      <h3 class="card-blog__title">
        Pesticides & Food: What You Need to Know
      </h3>
      <p class="card-blog__info">
        By Auskteez - 6 hours ago
      </p>
    </div>
  </li>
</ul>
<div class="link__wrapper section-blog__link-wrapper">
  <a href="#" class="link section-blog__link">VIEW MORE</a>
</div>
