<img class="back-img" src="./images/back-7.png" alt="back-7" />
<div class="container-section-7">
  <header id="contact" class="section-7__header">
    <h1 class="section-7__title">Contact</h1>
    <p class="section-7__under-title-text">
      For new projects, ideas, business or anything you'd like to discuss,
      contact with me!
    </p>
  </header>
  <div class="section-7__main">
    <form class="contact-form" action="#">
      <input
        class="contact-form__item"
        type="text"
        id="name"
        placeholder="Your Name..."
      />
      <input
        class="contact-form__item"
        id="email"
        type="email"
        placeholder="Your email..."
      />
      <input
        class="contact-form__item"
        id="phone"
        type="tel"
        placeholder="Your phone number..."
      />
      <textarea
        cols="40"
        rows="3"
        class="contact-form__item contact-form__item-message"
        placeholder="Your message..."
      ></textarea>
    </form>
    <article class="contact">
      <h3 class="contact__title">address</h3>
      <span class=" contact__text">123 City Name, Street, City, Country</span>
      <h3 class="contact__title">email</h3>
      <span class=" contact__text">cahee@domain.com</span>
      <h3 class="contact__title">phone</h3>
      <span class=" contact__text">+012 345 6789</span>
    </article>
  </div>
</div>
