<img class="back-img" src="./images/back-7.png" alt="back-7" />
<div class="section-contact__container">
  <header class="section-contact__header">
    <h1 class="section-contact__title">Contact</h1>
    <p class="section-contact__subtitle">
      For new projects, ideas, business or anything you'd like to discuss,
      contact with me!
    </p>
  </header>
  <div class="section-contact__main">
    <form class="contact-form" action="#">
      <input
        class="contact-form__item"
        type="text"
        id="name"
        placeholder="Your Name..."
        required
      />

      <input
        class="contact-form__item"
        id="email"
        type="email"
        placeholder="Your email..."
        required
      />
      <input
        class="contact-form__item"
        id="phone"
        type="tel"
        placeholder="Your phone number..."
        minlength="18"
        maxlength="18"
        required
      />
      <textarea
        cols="40"
        rows="3"
        class="contact-form__item contact-form__item-message"
        placeholder="Your message..."
        required
      ></textarea>
    </form>
    <article class="contact">
      <span class="contact__title">address</span>
      <h3 class=" contact__text">123 City Name, Street, City, Country</span>
      <span class="contact__title">email</span>
      <h3 class=" contact__text">cahee@domain.com</h3>
      <span class="contact__title">phone</span>
      <h3 class=" contact__text">+012 345 6789</h3>
    </article>
  </div>
</div>
