<div class="container section-galery__container">
  <h2 class="section-galery__title">Gallery</h2>
  <p class="section-galery__subtitle">
    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <div class="section-galery__galery grid">
    <div class="grid__row">
      <div class="grid__col col-70">
        <img class="img" src="./images/peach.png" alt="peach" />
      </div>
      <div class="grid__col col-30">
        <div class="grid__row">
          <img class="img" src="./images/currant.png" alt="currant" />
        </div>
        <div class="grid__row">
          <img class="img" src="./images/blackberry.png" alt="currant" />
        </div>
      </div>
    </div>
    <div class="grid__row">
      <div class="grid__col col-50">
        <img class="img" src="./images/milk-currant.png" alt="milk-currant" />
      </div>
      <div class="grid__col col-50">
        <img class="img" src="./images/persimmon.png" alt="persimmon" />
      </div>
    </div>
  </div>
  <a class="button section-galery__button" href="#">VIEW MORE</a>
</div>
