<img class="back-img" src="./images/milk.png" alt="milk" />
<article class="section-main__article article-main">
  <h2 class="article-main__title ">Fresh Life</h2>
  <p class="article-main__text ">
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
    ad minim veniam, quis nostrud exercitation ullamco.
  </p>
  <div class="link-wrapper section-main__link-wrapper">
    <a
      class="section-main__link link "
      href="https://www.dobrodar.com.ua/uploads/files/Articles/Article_images_31/3303a2.jpg"
      >Get free now</a
    >
  </div>
</article>
