<img class="back-img" src="./images/bg-sub.png" alt="img-bg" />
<article class=" section-sub__article article-sub">
  <h2 class="section-sub__title">Subscribe To Us</h2>
  <p class="section-sub__text">
    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  </p>
  <form class="article-sub__form form-sub" action="">
    <label class="form-sub__input-mail" for="email">
      <input
        class="form-sub__input-mail"
        type="email"
        name="email"
        placeholder="Your email address..."
      />
    </label>
    <button class="button form-sub__button" type="submit">SUBSCRIBE</button>
  </form>
</article>
