.section-galery {
  background-color: $gallery-bg-color;
  &__title {
    @include text($H900, 700, $dark);
    margin-bottom: 28px;
  }
  &__subtitle {
    max-width: 600px;
    line-height: 1.5;
    margin-bottom: 47px;
    @include text($H200, 300, $dark);
  }
  &__container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
  }
  &__button {
    background-color: $gallery-btn-color;
    margin-bottom: 120px;
  }
}
.grid {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &__row {
    width: 100%;

    align-items: center;
    @media screen and (min-width: $screen-tablet) {
      width: 100%;
      display: flex;
      align-items: flex-start;
    }
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 0px;
    }
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}

.col-70 {
  width: 100%;
  @media screen and (min-width: $screen-tablet) {
    width: 68%;
  }
}
.col-30 {
  width: 100%;
  @media screen and (min-width: $screen-tablet) {
    width: 33%;
  }
}
.col-50 {
  width: 100%;
  @media screen and (min-width: $screen-tablet) {
    width: 50%;
  }
}
