:root {
  --price-color: #02995b;
  --text--color: #333333;
  --maim-color: #fdde7e;
  --back-list-item-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 1000px;
  background-color: var(--maim-color);
  padding-top: 40px;
}
.list {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  height: 600px;
}
.list__item {
  flex-basis: 30%;
  min-width: 300px;
  margin: 0 auto 50px auto;
  transition: ease 0.2s;
  cursor: pointer;
  text-align: center;
  align-self: center;
  border-radius: 3%;
  background-color: var(--back-list-item-color);
}
.list__item:hover {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list__title {
  padding-top: 10px;
  margin-bottom: 50px;
  color: var(--price-color);
  font-family: fantasy;
  font-size: 60px;
  letter-spacing: 1.75px;
}
.list__img-wrapper {
  margin-bottom: 38px;
}
.list__cup-title {
  font-family: Lato;
  font-size: 39px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 35px;
}
.list__text {
  margin: 0 auto;
  display: block;
  max-width: 120px;
  font-family: "Lato Light";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
